#[link(name = "mustache",
       vers = "0.3pre",
       uuid = "afecaa07-75c5-466c-b3a3-fae5d32e04aa")];
#[crate_type = "lib"];

#[warn(unused_imports)];
#[allow(structural_records)];	// TODO: enable more of these
#[allow(deprecated_mode)];
#[forbid(deprecated_pattern)];	
#[allow(non_implicitly_copyable_typarams)];

extern mod std;

mod mustache;
