use std;

#[link(name = "mustache",
       vers = "0.1",
       uuid = "afecaa07-75c5-466c-b3a3-fae5d32e04aa")]
#[crate_type = "lib"]

#[forbid(deprecated_mode)]
#[forbid(implicit_copies)]
#[allow(non_implicitly_copyable_typarams)]	// json is all whacked
#[forbid(non_camel_case_types)]

mod mustache;
